@tailwind components;
@tailwind base;

.headingExtraLarge {
  @apply text-headingExtraLargeFS leading-headingExtraLargeLH font-bold;
}

.headingLarge {
  @apply text-headingLargeFS leading-headingLargeLH font-bold;
}

.heading {
  @apply text-headingFS leading-headingLH font-medium;
}

.subHeading {
  @apply text-subHeadingFS leading-subHeadingLH font-normal;
}

.body {
  @apply text-bodyFS leading-bodyLH font-normal;
}

@tailwind utilities;

html {
  font-size: 62.5%;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
