@tailwind components;
@tailwind base;

.heading--extra-large {
  @apply text-heading-extra-large leading-heading-extra-large font-bold;
}

.heading--large {
  @apply text-heading-large leading-heading-large font-bold;
}

.heading--sub-large {
  @apply text-heading-sub-large leading-heading-sub-large font-medium;
}

.heading {
  @apply text-heading leading-heading font-medium;
}

.sub-heading {
  @apply text-sub-heading leading-sub-heading font-normal;
}

.body {
  @apply text-body leading-body font-normal;
}

.button--primary {
  @apply text-primary0 bg-primary40;
}

.button--large {
  @apply py-sub-large px-large heading--sub-large;
}

.button--medium {
  @apply py-sub-medium px-sub-large heading;
}

.button--small {
  @apply py-small px-sub-large text-body leading-body font-medium;
}

@tailwind utilities;

html {
  font-size: 62.5%;
}

.--visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
